body {
    font-family: Arial, sans-serif;
    margin: 40px;
    text-align: center; /* Per centrare i contenuti */
}

#profilo, #preferiti {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse; /* Per una visualizzazione più simile a una tabella */
}

#profilo td, #preferiti td {
    padding: 10px;
    border: 1px solid #ccc;
}

#profilo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

#preferiti h2 {
    color: #444;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul li {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

ul li img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ccc;
}

ul li span {
    font-size: 14px;
}
